* {
  border-radius: 0;
}

#workspaces button.urgent {
  background: @base08;
}

#pulseaudio.bluetooth {
  color: @base0D;
}

#custom-separator {
  opacity: 0;
  padding: 0;
}

#battery.warning,
#cpu.warning,
#custom-gpu.critical,
#disk.one.warning,
#memory.warning {
  color: @base0A;
}

#temperature.critical,
#battery.critical,
#cpu.critical,
#custom-gpu.critical,
#disk.one.critical,
#memory.critical,
#network.disconnected,
#pulseaudio.muted {
  color: @base08;
}

/* window#waybar.floating, */
/* window#waybar.empty { */
/*   background: none; */
/* } */
