* {
  all: unset;
  border: 0;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
  margin: 0;
}

#workspaces button {
  padding: 5px 10px;
}

#workspaces button.focused {
  color: @base0D;
}

#workspaces button.urgent {
  background: @base08;
}

#workspaces button:hover {
  transition: none;
}

#workspaces,
#mode,
#window,
#idle_inhibitor,
#bluetooth,
#pulseaudio,
#cpu,
#memory,
#clock,
#battery,
#backlight,
#disk,
#custom-separator,
#custom-powermenu,
#custom-gpu,
#network,
#taskbar {
  padding: 2px 10px 2px 10px;
}

#idle_inhibitor {
  font-size: 15px;
}

#idle_inhibitor.deactivated,
#custom-music {
}

#custom-separator {
  opacity: 0;
  padding: 0;
}

#battery.warning,
#cpu.warning,
#custom-gpu.critical,
#disk.one.warning,
#memory.warning {
  color: @base0A;
}

#temperature.critical,
#battery.critical,
#cpu.critical,
#custom-gpu.critical,
#disk.one.critical,
#memory.critical,
#network.disconnected,
#pulseaudio.muted {
  color: @base08;
}

#pulseaudio.bluetooth {
  color: @base0D;
}

#tray {
  padding: 5px 3px 5px 3px;
}

/* window#waybar.floating, */
/* window#waybar.empty { */
/*   background: none; */
/* } */
